<div class="col mt-12">
  <div class="col-auto text-3xl text-center">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <form class="p-1 modal-box flex flex-col justify-center items-center" id="new-task-form">
      <h3 class="text-xl">Create a New Task:</h3>
      <label for="task-new-name"></label>
      <input class="from-input w-full max-w-xs" type="text" name="task-new-name" id="task-new-name"
        placeholder="Task Name">

      <select class="p-1 select select-bordered w-full max-w-xs mt-2" name="task-new-category" id="task-new-category">
        <option value="" disabled selected>Select Category</option>
        <option value="home">Home</option>
        <option value="auto">Auto</option>
        <option value="lawn">Lawn</option>
        <option value="work">Work</option>
        <option value="kids">Kids</option>
      </select>

      <select class="select select-bordered w-full max-w-xs mt-2" name="task-new-priority" id="task-new-priority">
        <option value="" disabled selected>Select Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>

      <label for="task-new-date p-1">Task Due Day:</label>
      <input class="form-input" type="date" id="task-new-date" name="task-new-date" />

      <label for="pb-4 task-new-time">Task Due Time:</label>
      <input class=" form-input" type="time" id="task-new-time" name="task-new-time" />
      <button
        class="btn btn-primary bg-secondary text-lg text-semibold border border-solid border-gray-500 w-1/8 p-1 mt-4 shadow-lg hover:bg-sky-700 hover:text-white"
        type="submit" id="submit">Submit</button>
  </div>
  </form>
</div>

<script src="/js/task-add.js"></script>